.experience-section {
    padding: 0px 40px;
}

.experience-item {
    display: flex;
    gap: 0 40px;
    padding-bottom: 20px;
}

.experience-left {
    min-width: 150px;
    max-width: 151px;
}

.experience-right {
    align-items: left;
    text-align: left;
    flex-grow: 1;
}