.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;


}


.personal-info-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-info-section h1 {
    margin: auto;
    padding-top: 20px;
}