#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
}

.sidebar {
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.cvDisplay {
  width: 70%;
  padding: 20px;
}