#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr;

}

.header-text {
  background-color: antiquewhite;
  align-items: center;
}

.sidebar {
  flex: 1 1 300px;
}